.intro {
    font-family: 'Gotham';
    position: absolute;
    /* background: yellow; */
    top: 60vh;
    left: 28vw;
    width: 40vw;
    height: 20vh;
    z-index: 2;
    text-align: center;
    color: white;
}

.intro > h2 {
    font-family: 'Gotham-Bold';
    font-size: 2vw;
    margin-bottom: 1.2vh;
}

.intro > p {
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 4vh;
}

#intro-link {
    border: 2px solid white;
    font-size: 0.7vw;
    /* background: yellow; */
    font-weight: bold;
    text-decoration: none;
    padding: 0.7vh;
    color: white;
    border-radius: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
}