.home-body {
    position: relative;
    min-height: 100vh;
}

.intro {
    font-family: 'Gotham';
    position: absolute;
    /* background: yellow; */
    top: 30%;
    left: 28vw;
    width: 40vw;
    height: 20vh;
    z-index: 2;
    text-align: center;
    color: white;
}

.intro > h2 {
    font-family: 'Gotham-Bold';
    font-size: 2vw;
    margin-bottom: 1.2vh;
}

.intro > p {
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 4vh;
}

#intro-link {
    border: 2px solid white;
    font-size: 0.7vw;
    /* background: yellow; */
    font-weight: bold;
    text-decoration: none;
    padding: 0.7vh;
    color: white;
    border-radius: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.body-preview-item:first-child, .body-preview-item:nth-child(5) {
    display: none;
}

.body-preview {
    font-family: 'Gotham';
    /* background: yellow; */
    position: absolute;
    top: 115vh;
    width: 60vw;
    height: 80vh;
    left: 17vw;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vh;
    padding-bottom: 5vh;
}

#body-header {
    font-family: 'Gotham-Bold';
    position: absolute;
    top: 100vh;
    left: 35vw;
    font-size: 3vw;
}

#body-preview-image {
    width: 15vw;
    height: 25vh;
    margin-bottom: 2vh;
}

#body-item-name {
    font-size: 2vh;
    font-family: 'Gotham-Bold';
}

.body-container {
    min-height: 100vh;
    padding-bottom: 10vh;
}

.footer {
    position: absolute;
    bottom: -80;
    background: rgb(26, 28, 30);
    width: 99.8vw;
    color: white;
    font-family: 'Gotham';
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.contact-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20vw;
}

.contact-container > ul {
    color: rgb(192, 191, 199);
}

.contact-list > h3 {
    color: white;
    font-family: 'Gotham-Bold';
    padding-bottom: 1.5vh;
    font-size: 1.8vh;
}

.contact-list > li {
    font-size: 1.4vh;
    padding-bottom: 1.5vh;
}

#intro-link:hover {
    background: rgba(242, 229, 229, 0.5);
}

body {
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

.index-page {
    padding-bottom: 10vh;
}

.show-page-container {
    padding-bottom: 15vh;
}