#addCart {
    width: 10.3vw;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    background: rgb(138, 0, 252);
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: 'Gotham';
}