.login-form-container {
    font-family: 'Gotham';
}

#login-logo {
    height: 3vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.session-submit {
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    background: rgb(138, 0, 252);
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: 'Gotham';
}

.demo {
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    background: rgb(138, 0, 252);
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: 'Gotham';
}

button.session-submit:hover {
    transform: scale(1.05);
    background: rgb(88, 0, 252);
}

.demo:hover {
    transform: scale(1.05);
    background: rgb(88, 0, 252);
}

input {
    margin-top: 10px;
    height: 28px;
    width: 100%;
    border: 1px solid rgb(209, 213, 219) ;
    border-radius: 5px;
    /* border-color: red; */
}

.submitButton {
    color: rgb(37, 99, 235);
    font-size: 16px;
}

.submitButton:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.login-form-box {
    /* margin-left: 1vw; */
}