@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham-Bold.otf');
}

.index-footer-photo {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.index-header-photo {
    /* padding-top: 5vh; */
    width: 38vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index-header {
    width: 27vw;
    padding-top: 15vh;
    font-family: 'Gotham-Bold';
    /* font-weight: bold; */
    display: relative;
    padding-left: 1vw;
    margin-left: 33vw;
    padding-bottom: 2vh;
    font-size: 5.5vh;
    border-bottom: 2px solid rgb(221, 220, 231);

    /* font color */
    background: -webkit-linear-gradient(rgb(255, 255, 255), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Component-message {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 30vw;
    margin-left: 43vw;
    font-size: 1.5vh;
    font-family: 'Gotham';
    font-weight: bolder;
    color: rgb(49, 50, 52);
}

#Peripheral-message {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 30vw;
    margin-left: 45vw;
    font-size: 1.5vh;
    font-family: 'Gotham';
    font-weight: bolder;
    color: rgb(49, 50, 52);
}

p[id='Gaming PC-message'] {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 30vw;
    margin-left: 45vw;
    font-size: 1.5vh;
    font-family: 'Gotham';
    font-weight: bolder;
    color: rgb(49, 50, 52);
}