/* header */

@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham-Bold.otf');
}

.index-footer-photo {
    padding-top: 5vh;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.index-header-photo {
    /* padding-top: 5vh; */
    width: 38vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index-header {
    width: 29vw;
    padding-top: 15vh;
    font-family: 'Gotham-Bold';
    /* font-weight: bold; */
    display: relative;
    padding-left: 2vw;
    margin-left: 33vw;
    padding-bottom: 2vh;
    font-size: 5.5vh;
    border-bottom: 2px solid rgb(221, 220, 231);

    /* font color */
    background: -webkit-linear-gradient(rgb(255, 255, 255), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Component-message {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 30vw;
    margin-left: 43vw;
    font-size: 1.5vh;
    font-family: 'Gotham';
    font-weight: bolder;
    color: rgb(49, 50, 52);
}

#Peripheral-message {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 30vw;
    margin-left: 45vw;
    font-size: 1.5vh;
    font-family: 'Gotham';
    font-weight: bolder;
    color: rgb(49, 50, 52);
}

p[id='Gaming PC-message'] {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 30vw;
    margin-left: 45vw;
    font-size: 1.5vh;
    font-family: 'Gotham';
    font-weight: bolder;
    color: rgb(49, 50, 52);
}

/* body */

.index-product-photo {
    padding-left: 2vw;
    width: 15vw;
    border: 1px solid rgb(221, 220, 231);
}

.index-container {
    margin-top: 10vh;
    margin-left: 42vw;
    width: 50vw;
}

.index-product {
    padding-bottom: 3vh;
    display: relative;
    /* background: red; */
    float: left;
    width: 35%;
}

.product-index-name {
    font-family: 'Gotham-Bold';
    font-size: 20px;
    color: rgb(49, 50, 52);
    padding-bottom: 14px;
}

.product-index-price {
    font-family: 'Gotham';
    font-size: 16px;
    color: rgb(49, 50, 52);
    font-weight: bold;
}

.text-container {
    position: absolute;
    width: 20vw;
    height: 60vh;
    left: 20vw;
    top: 70vh;
    /* background: yellow; */
}

#sticky {
    position: sticky;
    width: 18vw;
    height: 10vh;
    top: 300px;
    margin-left: 2vw;
    color: black;
}

#sticky > h3 {
    font-family: 'Gotham-Bold';
    font-size: 4vh;
    margin-left: 1vh;
    margin-bottom: 3vh;
}

#sticky > p {
    font-family: 'Gotham';
    font-size: 1.7vh;
    font-weight: bold;
    text-indent: 30px;
}